* {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.login-body {
  font-weight: 300;
  background-image: linear-gradient(45deg, #c676e3 0%, #5f4d93 40%, #5f4d93 85%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 50%;
  margin: 0 auto;
}

#logo {
  width: 30%;
  height: 30%;
  border-radius: 100%;
}

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 2.5em;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 20px;
  letter-spacing: -0.025em;
}

input::placeholder {
  color: #ccc;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}


fieldset {
  border-radius: 8px;
}

label {
  font-weight: bold;
  color: #000000;
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid #a64ca6;
}

.submit-btn-login {
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 250%;
  min-width: 50%;
  text-align: center;
  background-color: #7a3db8;
  color: #f5f3f7;
}

.login-container {
  background: #f5f3f7;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05),
    inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  padding: 3em;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(128, 0, 128, 0.2);
  width: 320px;
  text-align: center;
}

.group {
  text-align: left;
  margin-bottom: 15px;
}

.text-body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 17pt;
  line-height: 1.65;
  color: rgba(0, 0, 0, 0.65);
  margin: 0 0 2em 0;
}

.account-links {
  margin-top: 15px;
  text-align: center;
  font-size: 0.9rem;
}

.account-links a {
  color: #7a3db8;
  text-decoration: none;
  font-weight: 600;
}

.account-links a:hover {
  text-decoration: underline;
}

.account-links span {
  margin: 0 8px;
  color: #888;
}